/* Define color variables */
:root {
    --background-color: #0f0f0f;
    --text-color: #0f0f0f;
    --link-color: #ffad32;
    --link-hover-color: #ffcf86;
    --box-shadow-color: #0f0f0f;
    --button-background: #ffad32;
    --button-border: #ffcf86;
    --button-hover-filter: #c67700;
    --pulse-shadow-color: rgba(0, 0, 0, 0.5);
    --online-players-bg: #ffad32;
    --online-players-border: #ffcf86;
    --footer-bg: #070707;
    --footer-text-color: gray;
}

/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Default styles for the body */
body {
    font-family: "Outfit", sans-serif;
    background-color: var(--background-color);
}

/* Screen reader-only element */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* Container with responsive max-width */
.container {
    max-width: 100rem;
    margin: 2.5rem auto;
    padding: 0 1rem;
}

@media (max-width: 48rem) {
    .container {
        max-width: 45rem;
    }
}

@media (min-width: 48.0625rem) and (max-width: 64rem) {
    .container {
        max-width: 40rem;
    }
}

@media (min-width: 64.0625rem) {
    .container {
        max-width: 75rem;
    }
}

/* Hero section */
.hero {
    position: relative;
    width: 100%;
    background-image: url("/images/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    box-shadow: 0px -50px 299px 155px var(--box-shadow-color) inset;
    padding: 0 1rem;
}

@keyframes pulse {
    0%,
    100% {
        transform: scale(1);
    }
    25%,
    75% {
        transform: scale(1.02);
    }
    50% {
        transform: scale(1);
    }
}

/* Image within the hero */
.hero img {
    animation: pulse 4s infinite;
    filter: drop-shadow(0 0 1.75rem var(--pulse-shadow-color));
    width: 100%;
}

/* Vote links section */
.vote-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

/* Style for vote links */
.vote-links a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 700;
    font-size: 1.5rem;
    border-radius: 14px;
    border: 2px solid var(--button-border);
    filter: drop-shadow(0 6px 0rem var(--button-hover-filter));
    background: var(--button-background);
    padding: 2rem 0;
    text-align: center;
    width: 100%;
    transition: all 0.1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.vote-links a img {
    width: 2.5rem;
    height: 2.5rem;
}

/* Hover effect for vote links */
.vote-links a:hover {
    filter: drop-shadow(0 0 0);
    transform: translate(0, 5px);
}

.online-players {
    text-align: center;
    margin-top: 6rem;
    padding: 2rem 2rem;
    gap: 2rem;
    width: 100%;
    border: 2px solid var(--online-players-border);
    filter: drop-shadow(0 6px 0rem var(--button-hover-filter));
    background: var(--online-players-bg);
    font-weight: 500;
    font-size: 1.5rem;
    border-radius: 14px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.online-players:hover {
    filter: drop-shadow(0 0 0);
    transform: translate(0, 5px);
}

.online-players:active {
    background-color: var(--online-players-border);
}

.online-players button {
    background: none;
    border: none;
    width: 100%;
    padding: 2rem 0;
    font: inherit;
    cursor: pointer;
}

strong {
    font-weight: 900;
}

footer {
    text-align: center;
    padding: 1rem 0;
    font-size: 1rem;
    font-weight: 300;
    background: var(--footer-bg);
    border-radius: 14px;
    margin-top: 8rem;
    color: var(--footer-text-color);
}

footer a {
    text-decoration: none;
    color: var(--link-color);
}

@media (max-width: 48.0625rem) {
    .hero {
        box-shadow: 0px -45px 90px 45px var(--box-shadow-color) inset;
    }
    .online-players {
        margin-top: 1rem;
    }
    .vote-links {
        flex-direction: column;
    }
}
